<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>562686602964-4b3egb4ksi32ps0sp6h2fsh4ardu60sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562686602964-4b3egb4ksi32ps0sp6h2fsh4ardu60sb</string>
	<key>API_KEY</key>
	<string>AIzaSyAiOuWXc8fKUiRedbhIeZwPBVAvOfgpGwo</string>
	<key>GCM_SENDER_ID</key>
	<string>562686602964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smidigprosjekt</string>
	<key>PROJECT_ID</key>
	<string>smidigprosjekt</string>
	<key>STORAGE_BUCKET</key>
	<string>smidigprosjekt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562686602964:ios:0830fa4f716bb9be</string>
	<key>DATABASE_URL</key>
	<string>https://smidigprosjekt.firebaseio.com</string>
</dict>
</plist>